{{#section-hero id="home" title="Ember Symfony"}}
  A simple ember-symfony app with login authentication
{{/section-hero}}

{{#container-wide title="About"}}
  <p>Placeholder</p>
  {{#each users as |user|}}
    {{user.name}}
  {{/each}}
{{/container-wide}}
