{{#container-wide title="Login"}}
  {{component 'form-login'}}
  <div class="row"><div class="float-center marbot-1">-- or --</div></div>
  {{#link-to 'signup' class="button expanded primary hollow marbot-1"}}Signup!{{/link-to}}
{{/container-wide}}
