{{#container-wide title="Sign up"}}
  {{component 'form-signup'}}
  <div class="row"><div class="float-center marbot-1">-- or --</div></div>
  {{#link-to 'login' class="button expanded primary hollow marbot-1"}}Login{{/link-to}}
{{/container-wide}}
